[submodule "zsh_plugins/zsh-autosuggestions"]
	path = zsh_plugins/zsh-autosuggestions
	url = git://github.com/zsh-users/zsh-autosuggestions
[submodule "zsh_themes/powerlevel9k"]
	path = zsh_themes/powerlevel9k
	url = https://github.com/bhilburn/powerlevel9k.git
[submodule "zsh_plugins/zsh-syntax-highlighting"]
	path = zsh_plugins/zsh-syntax-highlighting
	url = https://github.com/zsh-users/zsh-syntax-highlighting.git
[submodule "pyenv-virtualenv"]
	path = pyenv-virtualenv
	url = https://github.com/pyenv/pyenv-virtualenv.git
[submodule ".pyenv"]
	path = .pyenv
	url = https://github.com/pyenv/pyenv.git
[submodule "direnv"]
	path = direnv
	url = https://github.com/direnv/direnv
[submodule "zsh_themes/powerlevel10k"]
	path = zsh_themes/powerlevel10k
	url = https://github.com/romkatv/powerlevel10k.git
[submodule "zsh_plugins/zsh-nvm"]
	path = zsh_plugins/zsh-nvm
	url = https://github.com/lukechilds/zsh-nvm
